In [1]:
import numpy as np
import pandas as pd

In [2]:
%load_ext autoreload
%autoreload 2

In [6]:
bus_routes = pd.read_excel("../source/bus.xlsx")

In [9]:
bus_routes.columns=["agency","route_no","type","start","end","num_buses_total","num_buses_active","num_buses_wait","distance","hour_active","num_runs","min_run","max_run","first_time","end_time"]

In [10]:
bus_routes.head()

,agency,route_no,type,start,end,num_buses_total,num_buses_active,num_buses_wait,distance,hour_active,num_runs,min_run,max_run,first_time,end_time
0,북부운수,1,순환,남산예장버스환승주차장,남산예장버스환승주차장,12,10,2,16.00,60,120,7,10,0630,2300
1,한성여객,100,간선,하계동,용산구청,30,28,2,57.09,231,112,8,12,0400,2230
2,동아운수,101,간선,우이동,서소문,23,22,1,37.81,170,119,5,11,0400,2300
3,한성운수,101,간선,우이동,서소문,9,8,1,37.81,165,41,6,12,0400,2300
4,삼화상운,102,간선,상계주공7단지,동대문,2,2,0,30.20,126,14,8,12,0400,2310

In [11]:
bus_routes["agency"].value_counts()

선진운수    15
흥안운수    13
범일운수    13
대원여객    13
한성여객    13
        ..
군포교통     3
영신여객     3
선일교통     3
신인운수     3
대흥교통     2
Name: agency, Length: 65, dtype: int64

In [12]:
len(bus_routes["agency"].value_counts())

65

In [13]:
for agency in bus_routes["agency"].unique():
    print(agency)

북부운수
한성여객
동아운수
한성운수
삼화상운
흥안운수
선일교통
대원여객
영신여객
삼양교통
한국brt자동차
아진교통
대진여객
진아교통
서울교통네트웍
도원교통
태릉교통
대원교통
메트로버스
상진운수
다모아자동차
경성여객
서울버스
동성교통
남성버스
대성운수
서울승합
한서교통
송파상운
삼성여객
진화운수
도선여객
우신버스
대흥교통
군포교통
한남여객
보영운수
범일운수
신인운수
양천운수
중부운수
신길교통
공항버스
관악교통
영인운수
김포교통
보성운수
보광교통
동해운수
제일여객
신수교통
서부운수
신촌교통
선진운수
성원여객
태진운수
보광운수
신흥운수
우신운수
정평운수
서울매일버스
세풍운수
유성운수
현대교통
원버스

In [16]:
for idx, agency in enumerate(bus_routes["agency"].unique()):
    print(f"agency{idx+1:03}")

agency001
agency002
agency003
agency004
agency005
agency006
agency007
agency008
agency009
agency010
agency011
agency012
agency013
agency014
agency015
agency016
agency017
agency018
agency019
agency020
agency021
agency022
agency023
agency024
agency025
agency026
agency027
agency028
agency029
agency030
agency031
agency032
agency033
agency034
agency035
agency036
agency037
agency038
agency039
agency040
agency041
agency042
agency043
agency044
agency045
agency046
agency047
agency048
agency049
agency050
agency051
agency052
agency053
agency054
agency055
agency056
agency057
agency058
agency059
agency060
agency061
agency062
agency063
agency064
agency065

In [18]:
from builds import build_agency

In [20]:
from pathlib import Path

In [21]:
bus_path = Path(r"/home/ljin/Projects/seoul_gtfs/source/bus.xlsx")

In [24]:
build_agency(bus_path)

True