In [1]:
import numpy as np
import pandas as pd

In [2]:
%load_ext autoreload
%autoreload 2

In [6]:
bus_routes = pd.read_excel("../source/bus.xlsx")

In [9]:
bus_routes.columns=["agency","route_no","type","start","end","num_buses_total","num_buses_active","num_buses_wait","distance","hour_active","num_runs","min_run","max_run","first_time","end_time"]

In [10]:
bus_routes.head()

,agency,route_no,type,start,end,num_buses_total,num_buses_active,num_buses_wait,distance,hour_active,num_runs,min_run,max_run,first_time,end_time
0,북부운수,1,순환,남산예장버스환승주차장,남산예장버스환승주차장,12,10,2,16.00,60,120,7,10,0630,2300
1,한성여객,100,간선,하계동,용산구청,30,28,2,57.09,231,112,8,12,0400,2230
2,동아운수,101,간선,우이동,서소문,23,22,1,37.81,170,119,5,11,0400,2300
3,한성운수,101,간선,우이동,서소문,9,8,1,37.81,165,41,6,12,0400,2300
4,삼화상운,102,간선,상계주공7단지,동대문,2,2,0,30.20,126,14,8,12,0400,2310

In [12]:
len(bus_routes["agency"].value_counts())

65

In [18]:
from builds import build_agency

In [20]:
from pathlib import Path

In [21]:
bus_path = Path(r"/home/ljin/Projects/seoul_gtfs/source/bus.xlsx")