In [1]:
import numpy as np
import pandas as pd

In [2]:
%load_ext autoreload
%autoreload 2

In [6]:
bus_routes = pd.read_excel("../source/bus.xlsx")

In [9]:
bus_routes.columns=["agency","route_no","type","start","end","num_buses_total","num_buses_active","num_buses_wait","distance","hour_active","num_runs","min_run","max_run","first_time","end_time"]

In [10]:
bus_routes.head()

,agency,route_no,type,start,end,num_buses_total,num_buses_active,num_buses_wait,distance,hour_active,num_runs,min_run,max_run,first_time,end_time
0,북부운수,1,순환,남산예장버스환승주차장,남산예장버스환승주차장,12,10,2,16.00,60,120,7,10,0630,2300
1,한성여객,100,간선,하계동,용산구청,30,28,2,57.09,231,112,8,12,0400,2230
2,동아운수,101,간선,우이동,서소문,23,22,1,37.81,170,119,5,11,0400,2300
3,한성운수,101,간선,우이동,서소문,9,8,1,37.81,165,41,6,12,0400,2300
4,삼화상운,102,간선,상계주공7단지,동대문,2,2,0,30.20,126,14,8,12,0400,2310

In [12]:
len(bus_routes["agency"].value_counts())

65

In [18]:
from builds import build_agency

In [20]:
from pathlib import Path

In [21]:
bus_path = Path(r"/home/ljin/Projects/seoul_gtfs/source/bus.xlsx")

In [1]:
import requests
from dotenv import load_dotenv
import pandas as pd
import os

In [2]:
load_dotenv()

True

In [3]:
res = requests.get(
    url=f"{os.getenv('BUS_BASE_URL')}getRouteInfo",
    params={
        "ServiceKey":os.getenv("DATA_KEY"),
        "busRouteId":"100100564",
        "resultType":"json"
    }
)

In [4]:
res.content

b'{"comMsgHeader":{"responseMsgID":null,"responseTime":null,"requestMsgID":null,"returnCode":null,"successYN":null,"errMsg":null},"msgHeader":{"headerMsg":"\xec\xa0\x95\xec\x83\x81\xec\xa0\x81\xec\x9c\xbc\xeb\xa1\x9c \xec\xb2\x98\xeb\xa6\xac\xeb\x90\x98\xec\x97\x88\xec\x8a\xb5\xeb\x8b\x88\xeb\x8b\xa4.","headerCd":"0","itemCount":0},"msgBody":{"itemList":[{"busRouteId":"100100564","busRouteNm":"320","busRouteAbrv":"320","length":"39.2","routeType":"3","stStationNm":"\xeb\xb3\xb5\xec\xa0\x95\xec\x97\xad\xed\x99\x98\xec\x8a\xb9\xec\x84\xbc\xed\x84\xb0","edStationNm":"\xec\xa4\x91\xeb\x9e\x91\xea\xb5\xac\xec\xb2\xad","term":"9","lastBusYn":" ","lastBusTm":"20230329230000","firstBusTm":"20230329040000","lastLowTm":"20201130224000","firstLowTm":"              ","corpNm":"\xeb\x82\xa8\xec\x84\xb1\xeb\xb2\x84\xec\x8a\xa4  02-401-1359"}]}}'

In [5]:
res.status_code

200

In [6]:
res.json()

{'comMsgHeader': {'responseMsgID': None,
  'responseTime': None,
  'requestMsgID': None,
  'returnCode': None,
  'successYN': None,
  'errMsg': None},
 'msgHeader': {'headerMsg': '정상적으로 처리되었습니다.', 'headerCd': '0', 'itemCount': 0},
 'msgBody': {'itemList': [{'busRouteId': '100100564',
    'busRouteNm': '320',
    'busRouteAbrv': '320',
    'length': '39.2',
    'routeType': '3',
    'stStationNm': '복정역환승센터',
    'edStationNm': '중랑구청',
    'term': '9',
    'lastBusYn': ' ',
    'lastBusTm': '20230329230000',
    'firstBusTm': '20230329040000',
    'lastLowTm': '20201130224000',
    'firstLowTm': '              ',
    'corpNm': '남성버스  02-401-1359'}]}}

In [6]:
%load_ext autoreload
%autoreload 2

In [7]:
from builds import get_bus_route_list, read_base_data

In [8]:
from pathlib import Path
base_file = Path(r"/home/ljin/Projects/seoul_gtfs/source/bus_routes.xlsx")

In [9]:
df = read_base_data(base_file)

In [21]:
df.loc[df["route_name"].str.contains(r"\D+\d{1,3}")]

       route_name   route_id
387        9401-1  113000004
397           N13  100100593
398           N15  100100610
399           N16  100100592
400           N26  100100586
..            ...        ...
661          종로12  100900009
662          종로13  100900002
663          중랑01  106900001
664          중랑02  106900002
665  청와대A01(자율주행)  100000020

[270 rows x 2 columns]

In [10]:
df.columns

Index(['route_name', 'route_id'], dtype='object')

In [22]:
routes = get_bus_route_list(df)

In [23]:
routes

,route_name,route_id,busRouteAbrv,busRouteNm,length,routeType,stStationNm,edStationNm,term,firstBusTm,lastBusTm,corpNm
0,0017,100100124,0017,0017,12.2,4,청암동,이촌동,12,20230331051500,20230331233000,보광교통 02-307-5600
1,01,100100001,6001,6001,146,1,인천공항,동대문,25,20230331043000,20230331225000,공항리무진 02-2664-9898
2,0411,104000012,0411,0411,44.3,4,용산차고지,AT센터.양재꽃시장,14,20230331042000,20230331223000,대원여객 02-3436-6366
3,100,100100549,6100,6100,184,1,망우역,인천공항,55,20230331042000,20230331194000,한국도심공항 02-551-0077
4,101,100100006,6101,6101,92,1,창동역,김포공항,40,20230331042500,20230331200500,한국도심공항 02-551-0077
...,...,...,...,...,...,...,...,...,...,...,...,...
661,종로12,100900009,종로12,종로12,5.4,2,서울대병원,종로3가,9,20230331060000,20230331233000,은수교통 02-3673-2791
662,종로13,100900002,종로13,종로13,7.5,2,평창동주민센터,부암슈퍼,15,20230331055000,20230331223000,약수교통 02-915-9270
663,중랑01,106900001,중랑01,중랑01,3.6,2,중화1동동아약국,신이문역,25,20230331060000,20230331235000,금창운수 02-971-3470
664,중랑02,106900002,중랑02,중랑02,7.1,2,진로아파트,한신아파트,8,20230331060000,20230331231500,중랑운수 02-2209-3412
665,청와대A01(자율주행),100000020,청와A01,청와대A01(자율주행),2.6,5,경복궁역,청와대,15,20230331090000,20230331164500,에스유엠 031-1668-5881

In [15]:
import pandas as pd
def try_this(series:pd.Series) -> tuple:
    sam = series["x"] 
    lst = [1,2,3,4,5]
    return [sam*l for l in lst]

In [13]:
a = pd.DataFrame([{"x":10,"y":2},{"x":31,"y":123},{"x":512,"y":13}])

In [14]:
a.apply(try_this, axis=1)

0             [10, 20, 30, 40, 50]
1           [31, 62, 93, 124, 155]
2    [512, 1024, 1536, 2048, 2560]
dtype: object

In [1]:
import requests

In [3]:
import os
from dotenv import load_dotenv
import pandas as pd

load_dotenv()

res = requests.get(
    url="http://ws.bus.go.kr/api/rest/busRouteInfo/getRoutePath",
    params={
        "ServiceKey":os.getenv("DATA_KEY"),
        "busRouteId":"100100564",
        "resultType":"json"
    }
)

In [6]:
df = pd.DataFrame(res.json()["msgBody"]["itemList"])

In [7]:
df

        no        gpsX       gpsY                posX                posY
0        1  127.127522  37.470866   211279.1235307185   441284.5625689891
1        2  127.127523   37.47081  211279.22039406354  441278.34810637916
2        3  127.127539  37.469667  211280.80734333812  441151.50597033696
3        4  127.126775  37.469676  211213.23027295974  441152.41350836307
4        5  127.126725  37.469676  211208.80777835206    441152.407556667
...    ...         ...        ...                 ...                 ...
1046  1047   127.12758  37.470808  211284.26226245495  441278.13298492087
1047  1048  127.127643  37.470807  211289.83467207974   441278.0295604253
1048  1049  127.128817  37.470781  211393.67722895567   441275.2855976918
1049  1050  127.129133  37.470766  211421.62926648528  441273.65925282706
1050  1051  127.129478  37.470721  211452.15090254002   441268.7072870885

[1051 rows x 5 columns]